<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="shop">
    <listeners>
        <listener class-name="webApp.utilities.listener.TestNGListener"/>
    </listeners>

    <test name="shop">

        <classes>
            <class name="webApp.utilities.extentReport.ExtentReport"/>
            <class name="webApp.pages.BasePage"/>
            <class name="webApp.tests.shop.ShopRunner"/>
        </classes>
    </test>
</suite>